body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #888;
    background: black;
}

#container {
    margin: 10px 10px;
}

.images-container {

}

.image-list-view a {
    display: inline-block;
    text-align: center;
    width: 150px;
    color: #888;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    word-wrap: break-word;
    vertical-align: top;
}

.image-list-view a:focus, .image-list-view a:hover {
    background: rgba(255,255,255, 0.1);
    color: #ccc;
}

.image-list-view a .image {
    width: 150px;
    height: 100px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.image-list-view a .image img {
    width: 100%;
}

.level-buttons {

}

.level-buttons button {
    border: none;
    padding: 5px 10px;
    margin-right: 3px;
    font-size: 14px;
    background: #222;
    outline: none;
    cursor: pointer;
    color: #CCC;
}
.level-buttons button:active, .level-buttons button:hover {
    background: #FF7F0E;
    color: white;
    outline: none;
}

.controls-view p {
    margin: 5px 0;
}
.controls-view p label {
    width: 50px;
    text-align: right;
    display: inline-block;
}

h2 {
    font-weight: 300;
    font-size: 1.2em;
    margin: 10px 0;
    color: #CCC;
}

h3 {
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
}